.u-section-1 .u-sheet-1 {
  min-height: 2022px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 60px 439px 0 523px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 423px;
    margin-right: 339px;
    width: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 313px;
    margin-right: 229px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 223px;
    margin-right: 139px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 123px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}